{% macro topTen(post, count, icon) %}
    <div class="top-ten">
        <div class="count">
            <p>{{ count }}</p>
            <img src="{{ url_for('static', filename=icon) }}" />
        </div>
        <h3>{{ post["message"] }}</h3>
        <p>{{ "Posted by " + post["from"]["name"]+ " on " + post["created_time"].split("T")[0] }}</p>
    </div>
{% endmacro %}

<div id="most-commented" class="statbox">
    <h2>Most commented posts</h2>
    {% for post in stats.most_commented() %}
        {{ topTen(post, post["comment_count"], "comment.png") }}
    {% endfor %}
</div>

<div id="most-liked" class="statbox">
    <h2>Most liked posts</h2>
    {% for post in stats.most_liked_posts() %}
        {{ topTen(post, post["like_count"], "like.png") }}
    {% endfor %}
</div>

<div id="length" class="statbox">
    <h2>Average post length:</h2><p>{{ stats.average_post_len|int }}</p>
    <br>
    <h2>Average comment length:</h2><p>{{ stats.average_comment_len|int }}</p>
</div>

<div id="busiest-hours" class="statbox">
    <h2>Busiest Hours</h2>
    <canvas id="hours" width="1000"></canvas>
</div>

<script>
    var data = {
        labels: [
            {% for hour in stats.busiest_hours().keys() %}
                "{{hour}}",
            {% endfor %}
        ],
        datasets: [{
            label: "Busiest hours",
            fillColor: "rgba(59,89,152,0.1)",
            strokeColor: "rgba(59,89,152,1)",
            pointColor: "rgba(59,89,152,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(59,89,152,1)",
            data: [
                {% for hour in stats.busiest_hours().items() %}
                    {{hour}},
                {% endfor %}
            ]}
        ]
    };
    
    var context = $("#hours").get(0).getContext("2d");
    new Chart(context).Line(data);
</script>