{% macro topTen(post, count, icon) %}
    <div class="top-ten">
        <div class="count">
            <p>{{ count }}</p>
            <img src="{{ url_for('static', filename=icon) }}" />
        </div>
        <h3>{{ post["message"] }}</h3>
        <p>Posted by <a href="https://facebook.com/{{ post['id'] }}">{{ post["from"]["name"] }}</a> on {{ post["created_time"].split("T")[0] }}</p>
    </div>
{% endmacro %}

<div id="most-commented" class="statbox">
    <h2>Most commented posts</h2>
    {% for post in stats.most_commented() %}
        {{ topTen(post, post["comment_count"], "comment.png") }}
    {% endfor %}
</div>

<div id="most-liked" class="statbox">
    <h2>Most liked posts</h2>
    {% for post in stats.most_liked_posts() %}
        {{ topTen(post, post["like_count"], "like.png") }}
    {% endfor %}
</div>

<div id="most-liked-comments" class="statbox">
    <h2>Most liked comments</h2>
    {% for post in stats.most_liked_comments() %}
        {{ topTen(post, post["like_count"], "like.png") }}
    {% endfor %}
</div>

<div id="length" class="statbox">
    <h2>Average words per post:</h2><p>{{ stats.average_post_words|round|int }}</p>
    <br>
    <h2>Average words per comment:</h2><p>{{ stats.average_comment_words|round|int }}</p>
</div>

<div id="busiest-hours" class="statbox">
    <h2>Busiest Hours</h2>
    <canvas id="hours" width="1000"></canvas>
</div>

<div id="post-reaction-container" class="statbox">
    <h2>Reactions</h2>
    <canvas id="post-reaction" width="250" height="250"></canvas>
    <div class="legend">
        {% macro average(stat, label, color) %}
            <div class="legend-color" style="background-color:{{color}}"></div><p>{{ label + ": " + ( stat * 100 / stats.post_count)|round|int|string + "%" }}</p>
        {% endmacro %}
        {{ average(stats.liked_and_commented|length, "Liked and commented", "rgb(95,147,57)") }}
        {{ average(stats.liked_or_commented|length - stats.liked_posts|length, "Only commented", "rgb(70,191,189)") }}
        {{ average(stats.liked_or_commented|length - stats.commented_posts|length, "Only liked", "rgb(253,180,92)") }}
        {{ average(stats.post_count - stats.liked_or_commented|length, "Ignored", "rgb(224,44,44)") }}
    </div>
</div>

<script>
    var data = {
        labels: [
            {% for hour in stats.busiest_hours().keys() %}
                "{{hour}}",
            {% endfor %}
        ],
        datasets: [{
            label: "Busiest hours",
            fillColor: "rgba(59,89,152,0.1)",
            strokeColor: "rgba(59,89,152,1)",
            pointColor: "rgba(59,89,152,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(59,89,152,1)",
            data: [
                {% for hour in stats.busiest_hours().items() %}
                    {{hour}},
                {% endfor %}
            ]}
        ]
    };
    
    var context = $("#hours").get(0).getContext("2d");
    new Chart(context).Line(data);
    
    // Reactions
    
    data = [
        {
            value: {{stats.liked_and_commented|length}},
            color: "rgb(95,147,57)",
            highlight: "rgba(95,147,57,0.8)",
            label: "Liked and commented"
        },
        {
            value: {{stats.liked_or_commented|length - stats.liked_posts|length}},
            color: "rgb(70,191,189)",
            highlight: "rgba(70,191,189,0.8)",
            label: "Only commented"
        },
        {
            value: {{stats.liked_or_commented|length - stats.commented_posts|length}},
            color: "rgb(253,180,92)",
            highlight: "rgba(253,180,92,0.8)",
            label: "Only liked"
        },
        {
            value: {{stats.post_count - stats.liked_or_commented|length}},
            color:"rgb(224,44,44)",
            highlight: "rgba(224,44,44,0.8)",
            label: "Neither"
        }
    ];
    
    context = $("#post-reaction").get(0).getContext("2d");
    new Chart(context).Pie(data);
</script>