<!DOCTYPE html>
<html>
    <head>
        <title>Quandary</title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='quandary.js') }}"></script>
        <link href='https://fonts.googleapis.com/css?family=Muli' rel="stylesheet" type='text/css'>
        <link href="{{ url_for('static', filename='quandary.css') }}" rel='stylesheet' type='text/css'>
        <script>   
            Chart.defaults.global.animation = false;
            
            var cookie = getCookieData();
            
            if (cookie.token && cookie.group_id) {
                displayTab($.param(cookie), "general", true);
            } else if (cookie.token) {
                $(document).ready(function() {
                    $("#token-dialog").remove();
                    listGroups(cookie.token, true);
                });   
            }
        </script>
    </head>
    <body>
        <div id="header">
            <h1 id="logo"><a href="{{url_for('.index')}}">Quandary</a></h1>
            <ul class="tabs" style="display:none">
                <li id="options">Options
                    <ul>
                        <li><a href="{{url_for('.index')}}" onclick="resetToken()">Change Access Token</a></li>
                        <li><a href="{{url_for('.index')}}" onclick="resetGroup()">Change Group</a></li>
                    </ul>
                </li>
                <li id="users">Users</li>
                <li id="averages">Averages</li>
                <li class="selected" id="general">General</li>
            </ul>
        </div>
        
        <div id="container">
            <div id="login">
                <h1>Welcome to Quandary!</h1>
              
                <div id="token-dialog">
                    <p>
                        Please get your access token from <a href="https://developers.facebook.com/tools/explorer/" target="blank">Facebook Graph Explorer</a>.<br>
                        Your access token needs the user_groups permission.
                    </p>
                    <br>
                    <input type="text" id="token" placeholder="Enter your acces token">
                    <input type="button" id="token-button" value="Login">
                </div>
                
                <div id="group-list" style="display:none">
                    <p>Select the group you would like to analyse:</p>
                    <form id="group-list-form" name="group-list"></form>
                </div>
            </div>
        </div>
        
        <script>
            $("#token-button").click(function() {
                listGroups($("#token").val());
            });
            
            $("#logo").click(function() {
               resetGroup();
            });
            
            // Tabs events
            $("#general").click(function() {
                changeTab("general");
            });
            $("#averages").click(function() {
                changeTab("averages");
            });
            $("#users").click(function() {
                changeTab("users");
            });
            
            $(".tabs").children().click(function() {
                $(".selected").removeClass("selected");
                $(this).addClass("selected");
            });
            
            // Options menu
            $("#options").click(function() {
                if ( $("ul", "#options").is(":visible") ) {
                    $("ul", "#options").hide();
                } else {
                    $("ul", "#options").show();
                }
            });
        </script>
    </body>
</html>