<!DOCTYPE html>
<html>
    <head>
        <title>Quandary</title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='quandary.js') }}"></script>
        <link href='https://fonts.googleapis.com/css?family=Muli' rel="stylesheet" type='text/css'>
        <link href="{{ url_for('static', filename='quandary.css') }}" rel='stylesheet' type='text/css'>
        <script>   
            Chart.defaults.global.animation = false;
            
            var cookie = getCookieData();
            
            if (cookie.token && cookie.group_id) {
                displayTab($.param(cookie), "general", true);
            }
            else if (cookie.token) {
                $(document).ready(function() {
                    $("#token-dialog").remove();
                    listGroups(cookie.token, true);
                });   
            }
        </script>
    </head>
    <body>
        <div id="header">
            <h1 id="logo"><a href="{{url_for('.index')}}">Quandary</a></h1>
            <ul class="tabs" style="display:none">
                <li id="options">Options
                    <ul>
                        <li><a href="{{url_for('.index')}}" onclick="resetToken()">Change Access Token</a></li>
                        <li><a href="{{url_for('.index')}}" onclick="resetGroup()">Change Group</a></li>
                        <li><a href="javascript:void(0)" onclick="$('.copyright').show()">Copyright notice</a></li>
                    </ul>
                </li>
                <li class="page" id="users">Users</li>
                <li class="page" id="averages">Averages</li>
                <li class="page selected" id="general">General</li>
            </ul>
        </div>
        
        <div id="container">
            <div id="login">
                <h1>Welcome to Quandary!</h1>
              
                <div id="token-dialog">
                    <p>
                        Please get your access token from <a href="https://developers.facebook.com/tools/explorer/" target="blank">Facebook Graph Explorer</a>.<br>
                        Your access token needs the user_groups permission.
                    </p>
                    <br>
                    <input type="text" id="token" placeholder="Enter your access token">
                    <input type="button" id="token-button" value="Login">
                </div>
                
                <div id="group-list" style="display:none">
                    <p>Select the group you would like to analyse:</p>
                    <form id="group-list-form" name="group-list"></form>
                </div>
            </div>
        </div>
        
        <div id="cookie-notice">
            <p>This website needs cookies to function correctly. By continuing to use Quandary, you accept the use of cookies</p>
            <div class="button info">More info</div>
            <div class="button close">Hide</div>
        </div>
        
        <div class="modal cookies">
            <div class="notice">
                <p>Cookies are very small text files that websites place on your computer to remember information about you.
                    They might contain your username, preferences or other informations needed to provide you with a better experience.</p>
                <p>Quanday uses 3 so-called "session" cookies, of which 2 are essential: it temporarily stores your access token and the group you have chosen to analyse. This information is necessary
                    for the application, and it could not work without it. Quandary will also remember if you have seen this message, to avoid bothering you again once you have been informed.</p>
                <p>All these cookies are automatically deleted when you close your browser.</p>
                <div class="button close">OK</div>
            </div>
        </div>
        
        <div class="modal copyright">
            <div class="notice">
                <p>The "comment.png", "post.png" and "custom.png" icons used in this website were designed by <a href="http://linhpham.me/">Linh Pham Thi Dieu</a>. They are free to use for any project.<br>
                    They are part of the <a href="http://linhpham.me/miu/">Miu icon collection</a>.</p>
                <p>The "like.png" icon used in this website was designed by <a href="https://www.iconsmind.com/">IconsMind</a> and released under the <a href="http://creativecommons.org/licenses/by/2.5/legalcode">Creative Commons Attribution 2.5 Generic license.</a><br>
                    It is part of the <a href="https://www.iconfinder.com/iconsets/social-media-13">Social Media icon pack</a>.<br>
                    No changes were made to the original icon.</p>
                <div class="button close">OK</div>
            </div>
        </div>
        
        <script>
            // Legal cookie stuff
            if (!cookie.user_informed) {
                $("#cookie-notice").show();
            }
            
            $("#cookie-notice .close").click(function() {
                $("#cookie-notice").remove();
                document.cookie = "user_informed=1";
            });
            
            $("#cookie-notice .info").click(function() {
                $(".cookies").show();
            });
            
            $(".notice .close").click(function() {
                $(".modal").hide();
            });
            
            
            $("#token-button").click(function() {
                listGroups($("#token").val());
            });
            
            $("#logo").click(function() {
               resetGroup();
            });
            
            // Tabs events
            $("#general").click(function() {
                changeTab("general");
            });
            $("#averages").click(function() {
                changeTab("averages");
            });
            $("#users").click(function() {
                changeTab("users");
            });
            
            $(".page").click(function() {
                $(".selected").removeClass("selected");
                $(this).addClass("selected");
            });
            
            // Options menu
            $("#options").click(function() {
                if ( $("ul", "#options").is(":visible") ) {
                    $(this).removeClass("selected");
                    $("ul", "#options").hide();
                } else {
                    $(this).addClass("selected");
                    $("ul", "#options").show();
                }
            });       
        </script>
    </body>
</html>
