{% macro topUsers(name, count, icon) %}
    <div class="top-ten">
        <div class="comment-count">
            <p>{{ count }}</p>
            <img src="{{ url_for('static', filename=icon) }}" />
        </div>
        <h3 style="padding-top: 10px">{{ name }}</h3>
    </div>
{% endmacro %}

<div id="top-posters" class="top-users">
    <h2>Top posters</h2>
    {% for user in stats.top_posters() %}
        {{ topUsers(user.name, user.post_count, "post.png") }}
    {% endfor %}
</div>
<div id="top-commenters" class="top-users">
    <h2>Top commenters</h2>
    {% for user in stats.top_posters() %}
        {{ topUsers(user.name, user.comment_count, "comment.png") }}
    {% endfor %}
</div>
<div id="top-likes" class="top-users">
    <h2>Top likers</h2>
    {% for user in stats.top_posters() %}
        {{ topUsers(user.name, user.like_count, "like.png") }}
    {% endfor %}
</div>

<div id="participation-container">
    <h2>User participation</h2>
    <canvas id="users-graph" width="250" height="250"></canvas>
    <div class="legend">
        {% macro average(stat, label, color) %}
            <div class="legend-color" style="background-color:{{color}}"></div><p>{{ label + ": " + ( stat * 100 / (stats.member_count))|int|string + "%" }}</p>
        {% endmacro %}
        {{ average((stats.member_count - stats.only_like|length - stats.inactive_members()|length), "Active users", "#FDB45C") }}
        {{ average(stats.inactive_members()|length, "Inactive users", "#FF5A5E") }}
        {{ average(stats.only_like|length, "Only liked something", "#46BFBD") }}
    </div>
</div>

<script>
    var data = [
        {
            value: {{stats.inactive_members()|length}},
            color:"#FF5A5E",
            highlight: "#FF5A5E",
            label: "Inactive"
        },
        {
            value: {{stats.only_like|length}},
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Only liked somthing"
        },
        {
            value: {{stats.member_count - stats.only_like|length - stats.inactive_members()|length}},
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Active"
        }
    ];
    
    var context = $("#users-graph").get(0).getContext("2d");
    new Chart(context).Pie(data);
</script>